.sidebar {
  width: 200px;
  padding: 32px;
  transition: 0.3s width ease-in-out;

  @media screen and (max-width: 1212px) {
    width: 30px;
    border-inline-end: 1px solid hsl(236deg 7% 54% / 25%);
  }

  @media screen and (max-width: 600px) {
    display: none;
  }

  &__logo-wrapper {
    display: block;
    margin: 0 0 2.8em;
    text-decoration: none;
  }

  &__logo {
    display: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #22b07d;
    border-radius: 50%;

    @media screen and (max-width: 1212px) {
      display: flex;
    }
  }

  &__logo-text {
    display: block;
    margin: 0;
    font-size: 20px;
    color: #fff;

    @media screen and (max-width: 1212px) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 12px;
    letter-spacing: 0.1em;

    @media screen and (max-width: 1212px) {
      display: none;
    }
  }

  &__menu {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 2.4em;
    margin: 0 0 2.4em;
    gap: 20px;
    list-style-type: none;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: "";
      background-color: #808191;
    }

    @media screen and (max-width: 600px) {
      flex-direction: row;
    }
  }

  &__item {
    &:hover,
    .is-active {
      .sidebar__item-text {
        color: #fff;
      }

      .sidebar__svg-icon {
        color: #fff;
        background-color: #ff7551;
        cursor: pointer;
      }

      &:nth-child(1) .sidebar__svg-icon {
        background-color: #ff7551;
        cursor: pointer;
      }

      &:nth-child(2) .sidebar__svg-icon {
        background-color: #32a7e2;
        cursor: pointer;
      }

      &:nth-child(3) .sidebar__svg-icon {
        background-color: #6c5ecf;
        cursor: pointer;
      }

      &:nth-child(4) .sidebar__svg-icon {
        background-color: #22b07d;
        cursor: pointer;
      }

      &:nth-child(5) .sidebar__svg-icon {
        background-color: #32a7e2;
        cursor: pointer;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: #808191;
    text-decoration: none;
    gap: 8px;
  }

  &__item-text {
    display: block;
    font-size: inherit;
    color: inherit;

    @media screen and (max-width: 1212px) {
      display: none;
    }

    @media screen and (max-width: 930px) {
    }
  }

  &__svg-icon {
    width: 14px;
    padding: 8px;
    background-color: #353340;
    border-radius: 10px;
  }
}
