<ng-containter *ngIf="page == 'initial'">
  <div class="content">
    <h2 class="content__video-heading">Bem-vindo</h2>
    <div class="content__video-card-wrapper">
      <div class="content__video-card-l">
        <h3 class="content__video-card-title">
          Cuidados básicos com seu dog no verão =)
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
      <div class="content__video-card-s">
        <h3 class="content__video-card-title">
          Como adestrar e cuidar do seu melhor amigo
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <h2 class="content__video-title">Cuidados sempre em dia!</h2>
    <div class="content__video-card-wrapper">
      <div class="content__video-card-l">
        <h3 class="content__video-card-title">
          Cuidados básicos com seu dog no verão =)
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
      <div class="content__video-card-s">
        <h3 class="content__video-card-title">
          Como adestrar e cuidar do seu melhor amigo
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-containter>

<ng-containter *ngIf="page == 'user'"> USER PAGE </ng-containter>

<ng-containter *ngIf="page == 'myPets'"> MEUS PETS </ng-containter>

<ng-containter *ngIf="page == 'Calendar'"> AGENDA </ng-containter>

<ng-containter *ngIf="page == 'Care'"> VACINAS </ng-containter>

<ng-containter *ngIf="page == 'Money'"> FINANCEIRO </ng-containter>

<ng-containter *ngIf="page == 'Shop'"> SHOP </ng-containter>

<ng-containter *ngIf="page == 'Dashboard'"> DASHBOARD </ng-containter>

<ng-containter *ngIf="page == 'Clients'"> CLIENTES </ng-containter>

<ng-containter *ngIf="page == 'Package'"> ESTOQUE </ng-containter>

<ng-containter *ngIf="page == 'CalendarAdmin'"> AGENDA </ng-containter>

<ng-containter *ngIf="page == 'mockery'"> DOAÇÕES </ng-containter>














