<ng-container *ngIf="page == 'initial'">
  <div class="content">
    <h2 class="content__video-heading">Bem-vindo</h2>
    <div class="content__video-card-wrapper">
      <div class="content__video-card-l">
        <h3 class="content__video-card-title">
          Cuidados básicos com seu dog no verão =)
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
      <div class="content__video-card-s">
        <h3 class="content__video-card-title">
          Como adestrar e cuidar do seu melhor amigo
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <h2 class="content__video-title">Cuidados sempre em dia!</h2>
    <div class="content__video-card-wrapper">
      <div class="content__video-card-l">
        <h3 class="content__video-card-title">
          Cuidados básicos com seu dog no verão =)
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
      <div class="content__video-card-s">
        <h3 class="content__video-card-title">
          Como adestrar e cuidar do seu melhor amigo
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'user'"> USER PAGE </ng-container>

<ng-container *ngIf="page == 'myPets'">
  <div class="content">
    <h2 class="content__video-heading">Meus Pets</h2>
    <div class="content__video-card-wrapper-pet">
      <ng-container *ngFor="let pet of myPets">
        <div
          (click)="switchPageAndRegisterPetSelected('aboutPet', pet)"
          class="content__video-card-pet"
          style="background-image: url({{ pet.imagem }}); background-color: {{
            pet.cardColor
          }}"
        >
          <h3 class="content__video-card-title">
            {{ pet.nome }}
          </h3>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'aboutPet'">
  <div class="content">
    <h2 class="content__video-heading">Meu Pet</h2>
    <div
      class="content__video-card-about-pet"
      style="background-color: #353340"
    >
      <h1 style="font-size: 2rem; color: {{ petSelected.cardColor }}; font-weight: bold; margin-bottom: 3rem;">
        {{ petSelected.nome }}
      </h1>
      <div style="display: flex">
        <div
          class="content__video-card-pet"
          style="background-image: url({{
            petSelected.imagem
          }}); background-color: {{ petSelected.cardColor }}; width: 35%;"
        ></div>
        <div style="width: 65%; text-align: left; margin-left: 2em;">
          <strong style="color: white; font-size: 1em;">Raça: </strong>{{petSelected.raca}}<br>
          <strong style="color: white; font-size: 1em;">Cor: </strong>{{petSelected.cor}}<br>
          <strong style="color: white; font-size: 1em;">Idade: </strong>{{petSelected.idade}}<br>
          <strong style="color: white; font-size: 1em;">Sexo: </strong>{{petSelected.sexo}}<br>
          <strong style="color: white; font-size: 1em;">Peso: </strong>{{petSelected.peso}}<br>
          <strong style="color: white; font-size: 1em;">Porte: </strong>{{petSelected.porte}}<br>
          <strong style="color: white; font-size: 1em;">Comportamento: </strong>{{petSelected.comportamento}}<br>
          <strong style="color: white; font-size: 1em;">Adestramento: </strong>{{petSelected.adestrado}}<br>
          <strong style="color: white; font-size: 1em;">Castrado: </strong>{{petSelected.castrado}}<br>
          <strong style="color: white; font-size: 1em;">Origem da Raça: </strong>{{petSelected.origemRaca}}<br>
          <strong style="color: white; font-size: 1em;">Condições Especiais: </strong>{{petSelected.condicaoEspecial}}<br>
          <strong style="color: white; font-size: 1em;">Expectativa de Vida: </strong>{{petSelected.expectativaVida}}<br>
          <button (click)="alterPage('Care')" class="button" mat-raised-button style="background-color: {{ petSelected.cardColor }}; color: white; margin-top: 10px; border-radius: 20px">Checar Vacinas</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'Calendar'"> 
  <full-calendar [options]="calendarOptions"></full-calendar>
</ng-container>

<ng-container *ngIf="page == 'Care'"> VACINAS </ng-container>

<ng-container *ngIf="page == 'Money'"> FINANCEIRO </ng-container>

<ng-container *ngIf="page == 'Shop'"> SHOP </ng-container>

<ng-container *ngIf="page == 'Dashboard'"> DASHBOARD </ng-container>

<ng-container *ngIf="page == 'Clients'"> CLIENTES </ng-container>

<ng-container *ngIf="page == 'Package'"> ESTOQUE </ng-container>

<ng-container *ngIf="page == 'CalendarAdmin'"> AGENDA </ng-container>

<ng-container *ngIf="page == 'mockery'"> DOAÇÕES </ng-container>
