<ng-container *ngIf="page == 'initial'">
  <div class="content">
    <h2 class="content__video-heading">Bem-vindo</h2>
    <div class="content__video-card-wrapper">
      <div
        style="
          background-image: url(https://images.vexels.com/media/users/3/210964/isolated/preview/9b8f69a5180ae3b60f65d65612db7bda-cachorro-sorrindo-feliz-ilustracao.png);
          background-color: #31abbd;
        "
        class="content__video-card-l"
      >
        <h3 class="content__video-card-title">
          Cuidados básicos com seu dog no verão =)
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
      <div class="content__video-card-s">
        <h3 class="content__video-card-title">
          Como adestrar e cuidar do seu melhor amigo
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <h2 class="content__video-title">Cuidados sempre em dia!</h2>
    <div class="content__video-card-wrapper">
      <div
        style="
          background-image: url(https://images.vexels.com/media/users/3/310365/isolated/preview/a1c41242cb08bb9b27cfba1f835e6789-animal-de-cachorro-golden-retriever.png);
          background-color: #dc984d;
        "
        class="content__video-card-l"
      >
        <h3 class="content__video-card-title">
          Cuidados básicos com seu dog no verão =)
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
      <div class="content__video-card-s">
        <h3 class="content__video-card-title">
          Como adestrar e cuidar do seu melhor amigo
        </h3>
        <div class="content__video-card-view">
          <div class="content__video-card-detail">
            <span class="content__video-card-author-name"
              >Dicas e sugestões</span
            >
            <span class="content__video-card-author-info">
              Publicado dia
              <span class="">09/03/2023</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'user'">
  <div class="content">
    <h2 class="content__video-heading">Perfil</h2>
    <div
      class="content__video-card-about-pet"
      style="background-color: #353340"
    >
      <div class="profileImage"></div>
      <h2
        style="
          font-size: 2rem;
          color: rgb(182, 180, 180);
          font-weight: bold;
          margin-bottom: 1.5rem;
        "
      >
        {{ userLogged.name }}
      </h2>
      <fa-icon
        *ngIf="!alterPassword"
        class="pencil"
        [icon]="faPencil"
        (click)="editUserData('user')"
      ></fa-icon>
      <div style="width: 100%">
        <ng-container *ngIf="!alterPassword">
          <div class="userData">
            <div
              style="display: inline-block; width: 50%; box-sizing: border-box"
            >
              <span>Usuário</span><br />
              <input
                id="user"
                style="background-color: #474756"
                class="inputDataUserNotEditable"
                type="text"
                value="{{ userLogged.user }}"
                readonly
              /><br />
              <span>Perfil de Acesso</span><br />
              <input
                class="inputDataUser"
                style="background-color: #474756"
                type="text"
                value="{{ userLogged.type }}"
                readonly
              /><br />
              <span>Data de Nascimento</span><br />
              <input
                class="inputDataUser"
                style="background-color: #474756"
                type="text"
                value="{{ userLogged.birthDay }}"
                readonly
              /><br />
              <span>Tipo de Pessoa</span><br />
              <input
                class="inputDataUser"
                style="background-color: #474756"
                type="text"
                value="{{ userLogged.typePerson }}"
                readonly
              />
            </div>
            <div
              style="display: inline-block; width: 50%; box-sizing: border-box"
            >
              <span>Endereço de Email</span><br />
              <input
                class="inputDataUser"
                style="background-color: #474756"
                type="text"
                value="{{ userLogged.email }}"
                readonly
              /><br />
              <span>Recebe novidades por Email?</span><br />
              <input
                class="inputDataUser"
                style="background-color: #474756"
                type="text"
                value="{{ userLogged.receiveNews }}"
                readonly
              /><br />
              <span>CPF</span><br />
              <input
                class="inputDataUser"
                style="background-color: #474756"
                type="text"
                value="{{ userLogged.cpf }}"
                readonly
              /><br />
              <span>Telefone</span><br />
              <input
                class="inputDataUser"
                style="background-color: #474756"
                type="text"
                value="{{ userLogged.phone }}"
                readonly
              />
            </div>
          </div>

          <div class="cardMoneyData" style="margin-bottom: 30px">
            <h2 style="color: #bebebe; margin-top: 10px">Endereço</h2>
            <div class="userData">
              <div
                style="
                  display: inline-block;
                  width: 50%;
                  box-sizing: border-box;
                "
              >
                <span>Nome da Rua</span><br />
                <input
                  id="user"
                  style="background-color: #5e5b71"
                  class="inputDataUser"
                  type="text"
                  value="{{ userLogged.rua }}"
                  readonly
                /><br />
                <span>Número</span><br />
                <input
                  class="inputDataUser"
                  style="background-color: #5e5b71"
                  type="text"
                  value="{{ userLogged.numeroRua }}"
                  readonly
                /><br />
                <span>Referência</span><br />
                <input
                  class="inputDataUser"
                  style="background-color: #5e5b71"
                  type="text"
                  value="{{ userLogged.referencia }}"
                  readonly
                /><br />
                <span>Telefone Residencial</span><br />
                <input
                  class="inputDataUser"
                  style="background-color: #5e5b71"
                  type="text"
                  value="{{ userLogged.telefoneResidencial }}"
                  readonly
                /><br />
              </div>
              <div
                style="
                  display: inline-block;
                  width: 50%;
                  box-sizing: border-box;
                "
              >
                <span>CEP</span><br />
                <input
                  class="inputDataUser"
                  style="background-color: #5e5b71"
                  type="text"
                  value="{{ userLogged.cep }}"
                  readonly
                /><br />
                <span>Complemento</span><br />
                <input
                  class="inputDataUser"
                  style="background-color: #5e5b71"
                  type="text"
                  value="{{ userLogged.complemento }}"
                  readonly
                /><br />
                <span>Cidade</span><br />
                <input
                  class="inputDataUser"
                  style="background-color: #5e5b71"
                  type="text"
                  value="{{ userLogged.cidade }}"
                  readonly
                /><br />
                <span>Estado</span><br />
                <input
                  class="inputDataUser"
                  style="background-color: #5e5b71"
                  type="text"
                  value="{{ userLogged.estado }}"
                  readonly
                /><br />
              </div>
            </div>
          </div>

          <div class="cardMoneyData">
            <h2 style="color: #bebebe; margin-top: 10px">Dados de pagamento</h2>
            <div class="userData">
              <div
                style="
                  display: inline-block;
                  width: 50%;
                  box-sizing: border-box;
                "
              >
                <span>Número do cartão</span><br />
                <input
                  id="user"
                  style="background-color: #5e5b71"
                  class="inputDataUser"
                  type="text"
                  value="{{ userLogged.cardNumber }}"
                  readonly
                /><br />
                <span>Bandeira</span><br />
                <input
                  class="inputDataUser"
                  style="background-color: #5e5b71"
                  type="text"
                  value="{{ userLogged.flag }}"
                  readonly
                /><br />
              </div>
              <div
                style="
                  display: inline-block;
                  width: 50%;
                  box-sizing: border-box;
                "
              >
                <span>Nome impresso</span><br />
                <input
                  class="inputDataUser"
                  style="background-color: #5e5b71"
                  type="text"
                  value="{{ userLogged.cardName }}"
                  readonly
                /><br />
                <span>Código de segurança</span><br />
                <input
                  class="inputDataUser"
                  style="background-color: #5e5b71"
                  type="text"
                  value="{{ userLogged.securityCode }}"
                  readonly
                /><br />
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="alterPassword">
          <div class="userData">
            <div style="display: inline-block; width: 40%">
              <span>Senha atual</span><br />
              <input
                #currentPassword
                class="inputDataUserNotEditable"
                type="password"
                (change)="
                  registerValueOldPassword(
                    currentPassword.value,
                    'currentPassword'
                  )
                "
              /><br />
              <span>Nova senha</span><br />
              <input
                #newPassword
                class="inputDataUser"
                type="password"
                (change)="
                  registerValueOldPassword(newPassword.value, 'newPassword')
                "
              /><br />
              <span>Confirmar nova senha</span><br />
              <input
                #confirmNewPassword
                class="inputDataUser"
                type="password"
                (change)="
                  registerValueOldPassword(
                    confirmNewPassword.value,
                    'confirmNewPassword'
                  )
                "
              /><br />
            </div>
          </div>
        </ng-container>
      </div>
      <button
        *ngIf="!alterPassword"
        (click)="alterPage('initial')"
        class="button"
        mat-raised-button
        style="
          background-color: #bd4c31;
          color: white;
          margin-top: 20px;
          border-radius: 20px;
        "
      >
        Voltar
      </button>
      <button
        *ngIf="alterPassword"
        (click)="openClosePasswordPage()"
        class="button"
        mat-raised-button
        style="
          background-color: #bd4c31;
          color: white;
          margin-top: 20px;
          border-radius: 20px;
        "
      >
        Voltar
      </button>
      <button
        *ngIf="!alterPassword"
        class="button"
        (click)="openClosePasswordPage()"
        mat-raised-button
        style="
          background-color: #3152bd;
          color: white;
          margin-top: 20px;
          border-radius: 20px;
          margin-left: 10px;
        "
      >
        Alterar Senha
      </button>
      <button
        *ngIf="alterPassword"
        class="button"
        (click)="confirmChangePassword()"
        mat-raised-button
        style="
          background-color: #79b449;
          color: white;
          margin-top: 20px;
          border-radius: 20px;
          margin-left: 10px;
        "
      >
        Confirmar
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'myPets'">
  <div class="content">
    <h2 class="content__video-heading">Meus Pets</h2>
    <div class="content__video-card-wrapper-pet">
      <ng-container *ngFor="let pet of myPets">
        <div
          (click)="switchPageAndRegisterPetSelected('aboutPet', pet)"
          class="content__video-card-pet"
          style="background-image: url({{ pet.imagem }}); background-color: {{
            pet.cardColor
          }}"
        >
          <h3 class="content__video-card-title">
            {{ pet.nome }}
          </h3>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'aboutTheRace'">
  <div class="content">
    <h2 class="content__video-heading">Sobre a raça</h2>
    <div
      class="content__video-card-about-pet"
      style="background-color: #353340"
    >
      <h1
        style="font-size: 2rem; color: {{
          petSelected.cardColor
        }}; font-weight: bold; margin-bottom: 3rem;"
      >
        {{ petSelected.raca }}
      </h1>
      <span>{{ raceSelected.descricao }}</span
      ><br />

      <div style="display: flex; height: auto; margin-top: 20px">
        <div class="cardAboutFacilitiesPet">
          <span>Facilidade de adestramento</span>
          <star-rating
            speed="slow"
            [starType]="'svg'"
            [readOnly]="true"
            [rating]="raceSelected.facilidadeAdestramento"
          ></star-rating>
        </div>
        <div class="cardAboutFacilitiesPet">
          <span>Facilidade de cuidado</span>
          <star-rating
            speed="slow"
            [starType]="'svg'"
            [readOnly]="true"
            [rating]="raceSelected.facilidadeCuidado"
          ></star-rating>
        </div>
        <div class="cardAboutFacilitiesPet">
          <span>Nível de obediência</span>
          <star-rating
            speed="slow"
            [starType]="'svg'"
            [readOnly]="true"
            [rating]="raceSelected.nivelObediencia"
          ></star-rating>
        </div>
      </div>

      <button
        (click)="alterPage('aboutPet')"
        class="button"
        mat-raised-button
        style="background-color: {{
          petSelected.cardColor
        }}; color: white; margin-top: 20px; border-radius: 20px"
      >
        Voltar
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'aboutPet'">
  <div class="content">
    <h2 class="content__video-heading">Meu Pet</h2>
    <div
      class="content__video-card-about-pet"
      style="background-color: #353340"
    >
      <h1
        style="font-size: 2rem; color: {{
          petSelected.cardColor
        }}; font-weight: bold; margin-bottom: 3rem;"
      >
        {{ petSelected.nome }}
      </h1>
      <div style="display: flex">
        <div
          class="content__video-card-pet"
          style="background-image: url({{
            petSelected.imagem
          }}); background-color: {{ petSelected.cardColor }}; width: 35%;"
        ></div>
        <div style="width: 65%; text-align: left; margin-left: 2em">
          <strong style="color: white; font-size: 1em">Raça: </strong
          >{{ petSelected.raca }}<br />
          <strong style="color: white; font-size: 1em">Cor: </strong
          >{{ petSelected.cor }}<br />
          <strong style="color: white; font-size: 1em">Idade: </strong
          >{{ petSelected.idade }}<br />
          <strong style="color: white; font-size: 1em">Sexo: </strong
          >{{ petSelected.sexo }}<br />
          <strong style="color: white; font-size: 1em">Peso: </strong
          >{{ petSelected.peso }}<br />
          <strong style="color: white; font-size: 1em">Porte: </strong
          >{{ petSelected.porte }}<br />
          <strong style="color: white; font-size: 1em">Comportamento: </strong
          >{{ petSelected.comportamento }}<br />
          <strong style="color: white; font-size: 1em">Adestramento: </strong
          >{{ petSelected.adestrado }}<br />
          <strong style="color: white; font-size: 1em">Castrado: </strong
          >{{ petSelected.castrado }}<br />
          <strong style="color: white; font-size: 1em">Origem da Raça: </strong
          >{{ petSelected.origemRaca }}<br />
          <strong style="color: white; font-size: 1em"
            >Condições Especiais: </strong
          >{{ petSelected.condicaoEspecial }}<br />
          <strong style="color: white; font-size: 1em"
            >Expectativa de Vida: </strong
          >{{ petSelected.expectativaVida }}<br />
          <button
            (click)="alterPage('myPets')"
            class="button"
            mat-raised-button
            style="background-color: {{
              petSelected.cardColor
            }}; color: white; margin-top: 10px; border-radius: 20px; margin-right: 10px"
          >
            Alterar Pet
          </button>
          <button
            (click)="alterPageAndRegisterRace('aboutTheRace', petSelected.raca)"
            class="button"
            mat-raised-button
            style="
              background-color: rgb(148 128 128);
              color: white;
              margin-top: 10px;
              border-radius: 20px;
            "
          >
            Sobre a raça {{ petSelected.raca }}
          </button>
        </div>
      </div>
    </div>
    <div
      class="content__video-card-about-pet"
      style="background-color: #353340"
    >
      <h1
        style="
          font-size: 2rem;
          color: rgb(182, 180, 180);
          font-weight: bold;
          margin-bottom: 3rem;
        "
      >
        Acompanhamento
      </h1>
      <div
        *ngFor="let petCare of petSelectedCare"
        style="width: 100%; text-align: left; margin-bottom: 1.5em"
      >
        <strong style="color: white; font-size: 1em"
          >{{ petCare.care }}: </strong
        >{{ petCare.careStatus }}<br />
        <progress-bar
          [progress]="petCare.carePercentagem"
          [color-degraded]="{
            '0': '#00cbcb',
            '15': '#f9c3d3',
            '25': '#fd8c8e'
          }"
        >
        </progress-bar>
      </div>
      <button
        (click)="alterPage('Calendar')"
        class="button"
        mat-raised-button
        style="background-color: {{
          petSelected.cardColor
        }}; color: white; margin-top: 10px; border-radius: 20px"
      >
        Agendar Serviço
      </button>
    </div>
    <div
      class="content__video-card-about-pet"
      style="background-color: #353340"
    >
      <h1
        style="
          font-size: 2rem;
          color: rgb(182, 180, 180);
          font-weight: bold;
          margin-bottom: 3rem;
        "
      >
        Vacinas
      </h1>
      <div style="display: flex">
        <div style="flex-basis: 30%; text-align: left; margin-bottom: 0.5em">
          <div
            class="content__video-card-about-pet"
            style="background-color: #353340"
          >
            Vacinas no Prazo
            <ng-container *ngFor="let vaccine of petSelectedVaccines">
              <ng-container *ngIf="vaccine.term == 'longTime'">
                <button
                  (click)="
                    switchPageAndRegisterVaccineSelected(
                      'AboutVaccines',
                      vaccine
                    )
                  "
                  class="button"
                  mat-raised-button
                  style="padding-top: 20px; padding-bottom: 20px; background-color: {{
                    petSelected.cardColor
                  }}; background-color: {{
                    vaccine.cardColor
                  }}; color: white; margin-top: 10px; border-radius: 10px"
                >
                  {{ vaccine.vaccine }} {{ vaccine.dateToFinish }}
                </button>
              </ng-container>
            </ng-container>

            <br /><br />
            Vacinas perto do prazo
            <ng-container *ngFor="let vaccine of petSelectedVaccines">
              <ng-container *ngIf="vaccine.term == 'shortTime'">
                <button
                  (click)="
                    switchPageAndRegisterVaccineSelected(
                      'AboutVaccines',
                      vaccine
                    )
                  "
                  class="button"
                  mat-raised-button
                  style="padding-top: 20px; padding-bottom: 20px; background-color: {{
                    petSelected.cardColor
                  }}; background-color: {{
                    vaccine.cardColor
                  }}; color: white; margin-top: 10px; border-radius: 10px"
                >
                  {{ vaccine.vaccine }} {{ vaccine.dateToFinish }}
                </button>
              </ng-container>
            </ng-container>

            <br /><br />
            Vacinas fora do prazo
            <ng-container *ngFor="let vaccine of petSelectedVaccines">
              <ng-container *ngIf="vaccine.term == 'late'">
                <button
                  (click)="
                    switchPageAndRegisterVaccineSelected(
                      'AboutVaccines',
                      vaccine
                    )
                  "
                  class="button"
                  mat-raised-button
                  style="padding-top: 20px; padding-bottom: 20px; background-color: {{
                    petSelected.cardColor
                  }}; background-color: {{
                    vaccine.cardColor
                  }}; color: white; margin-top: 10px; border-radius: 10px"
                >
                  {{ vaccine.vaccine }} {{ vaccine.dateToFinish }}
                </button>
              </ng-container>
            </ng-container>
          </div>
          <button
            (click)="alterPage('Calendar')"
            class="button"
            mat-raised-button
            style="margin-left: auto; margin-right: auto; display: flex; background-color: {{
              petSelected.cardColor
            }}; color: white; margin-top: 10px; border-radius: 20px"
          >
            Agendar Vacina
          </button>
        </div>
        <div style="flex-basis: 70%; text-align: left; margin-bottom: 0.5em">
          <div
            class="content__video-card-about-pet"
            style="background-color: #353340"
          >
            <full-calendar [options]="calendarOptionsVaccines"></full-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'Calendar'">
  <div class="content">
    <h2 class="content__video-heading">Agenda</h2>
    <div
      class="content__video-card-about-pet"
      style="background-color: #353340"
    >
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'AboutVaccines'">
  <div class="content">
    <h2 class="content__video-heading">Sobre a Vacina</h2>
    <div
      class="content__video-card-about-pet"
      style="background-color: #353340"
    >
      <h1
        style="
          font-size: 2rem;
          color: {{ petSelected.cardColor }};
          font-weight: bold;
          margin-bottom: 3rem;
        "
      >
        {{ vaccineSelected.vaccineName }}
      </h1>
      <h3>{{ vaccineSelected.about }}</h3>
      <button
        (click)="alterPage('aboutPet')"
        class="button"
        mat-raised-button
        style="background-color: {{
          petSelected.cardColor
        }}; color: white; margin-top: 10px; border-radius: 20px"
      >
        Voltar
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'Money'">
  <div class="content">
    <h2 class="content__video-heading">Financeiro</h2>
    <div class="content__video-card-wrapper-money-client">
      <ng-container *ngFor="let pet of myPets">
        <div class="petMoney">
          <div
            (click)="switchPageAndRegisterPetSelected('aboutPet', pet)"
            class="petMoneyPicture"
            style=" background-image: url({{
              pet.imagem
            }});  background-color: {{ pet.cardColor }}; "
          ></div>
          <div class="petMoneyDesc" style="background-color: #353340">
            <div style="width: 100%; text-align: center">
              <h1
                style="
                  color: {{ pet.cardColor }};
                "
                class="namePet"
              >
                {{ pet.nome }}
              </h1>
            </div>
            <div class="cardAboutMoney" style="float: left">
              <h3 class="serviceTitle">Serviços tomados</h3>
              <ng-container *ngFor="let expensive of expensives; let i = index">
                <ng-container *ngIf="pet.nome == expensive.nome">
                  <ng-container
                    *ngFor="let expensivex of expensive.procedimentos"
                  >
                    <div
                      class="expensives"
                      (click)="
                        alterPageAndRegisterExpensiveSelected(
                          'Expensive',
                          expensivex
                        )
                      "
                    >
                      <div
                        class="expenses"
                        style="background-color: {{
                          pet.cardColor
                        }}; width: 62%; margin-right: 10px"
                      >
                        {{ expensivex.nome }}
                      </div>
                      <div
                        class="expenses"
                        style="background-color: {{
                          pet.cardColor
                        }}; width: 28%"
                      >
                        {{ expensivex.valor }}
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
            <div class="cardAboutMoney" style="float: right">
              <h3 class="serviceTitle">Aguardando pagamento</h3>
              <ng-container
                *ngFor="let expensiveToPay of expensivesToPay; let i = index"
              >
                <ng-container *ngIf="pet.nome == expensiveToPay.nome">
                  <ng-container
                    *ngFor="let expensivex of expensiveToPay.procedimentos"
                  >
                    <div
                      class="expensives"
                      (click)="
                        alterPageAndRegisterExpensiveSelected(
                          'Expensive',
                          expensivex
                        )
                      "
                    >
                      <div
                        class="expenses"
                        style="
                          background-color: rgb(92 82 82);
                          width: 62%;
                          margin-right: 10px;
                        "
                      >
                        {{ expensivex.nome }}
                      </div>
                      <div
                        class="expenses"
                        style="background-color: rgb(92 82 82); width: 28%"
                      >
                        {{ expensivex.valor }}
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'Expensive'">
  <div class="content">
    <h2 class="content__video-heading">Detalhes do serviço</h2>
    <div
      class="content__video-card-about-pet"
      style="background-color: #353340"
    >
      <h1
        style="
          font-size: 2rem;
          color: {{ expensiveSelected.cardColor }};
          font-weight: bold;
          margin-bottom: 3rem;
        "
      >
        {{ expensiveSelected.nome }}
      </h1>

      <div class="description">
        <h2 style="color: #a8a3a3">Descrição</h2>
        <span style="color: #909090">{{ expensiveSelected.descricao }}</span>
      </div>

      <div style="margin-bottom: 4.5%">
        <star-rating
          speed="slow"
          [starType]="'svg'"
          [rating]="expensiveSelected.avaliacao"
          (starClickChange)="rateService($event)"
        ></star-rating>
      </div>

      <div style="display: flex">
        <div
          class="content__video-card-pet"
          style="background-image: url({{
            expensiveSelected.imagemServico
          }}); background-color: {{ expensiveSelected.cardColor }}; width: 35%;"
        ></div>

        <div style="width: 65%; text-align: left; margin-left: 2em">
          <strong style="color: white; font-size: 1em">Status: </strong
          ><span
            *ngIf="expensiveSelected.status == 'Pago'"
            style="color: rgb(101 216 86)"
            >{{ expensiveSelected.status }}</span
          ><span
            *ngIf="expensiveSelected.status != 'Pago'"
            style="color: rgb(222 188 90)"
            >{{ expensiveSelected.status }}</span
          ><br />
          <strong style="color: white; font-size: 1em">Valor: </strong
          >{{ expensiveSelected.valor }}<br />
          <strong style="color: white; font-size: 1em">Parcelas: </strong
          >{{ expensiveSelected.parcelas }}<br />
          <strong style="color: white; font-size: 1em"
            >Tipo de Pagamento: </strong
          >{{ expensiveSelected.tipoPagamento }}<br />
          <strong style="color: white; font-size: 1em"
            >Data do Pagamento: </strong
          >{{ expensiveSelected.dataPagamento }}<br />
          <button
            (click)="alterPage('Money')"
            class="button"
            mat-raised-button
            style="background-color: {{
              expensiveSelected.cardColor
            }}; color: white; margin-top: 10px; border-radius: 20px"
          >
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'Shop'"> SHOP </ng-container>

<ng-container *ngIf="page == 'Dashboard'">
  <div class="content">
    <h2 class="content__video-heading">Dashboard</h2>
    <div
      class="content__video-card-about-pet"
      style="background-color: #353340"
    >
      <div
        class="content__video-card-about-pet"
        style="background-color: #403e48"
      >
        <h1
          style="
            font-size: 2rem;
            color: rgb(182, 180, 180);
            font-weight: bold;
            margin-bottom: 3rem;
          "
        >
          Resumo do dia
        </h1>
        <div style="display: flex">
          <div
            style="
              width: 30%;
              align-items: center;
              justify-content: center;
              display: flex;
            "
          >
            <span>Total de clientes atendidos</span>
          </div>
          <div style="width: 70%">
            <progress-bar
              [progress]="'60'"
              [color-degraded]="{
                '0': '#00cbcb',
                '15': '#f9c3d3',
                '25': '#fd8c8e'
              }"
            >
            </progress-bar>
          </div>

          <!-- <div style="flex: 1; padding: 10px">
            <circle-progress
              [percent]="75"
              [radius]="100"
              [space]="-10"
              [maxPercent]="100"
              [outerStrokeGradient]="true"
              [outerStrokeWidth]="16"
              [backgroundStroke]="'transparent'"
              [outerStrokeColor]="'#4882c2'"
              [innerStrokeColor]="'#e7e8ea'"
              [outerStrokeGradient]="true"
              [showInnerStroke]="false"
              [showSubtitle]="false"
              [showZeroOuterStroke]="false"
              [title]="'Pets atendidos'"
              [titleColor]="'#b4b4b4'"
              [outerStrokeGradientStopColor]="'#1eb07e'"
              [animateTitle]="false"
              [animationDuration]="1000"
              [animation]="true"
              [showUnits]="false"
              [showBackground]="false"
              [clockwise]="false"
              [lazy]="false"
              [responsive]="true"
            ></circle-progress>
          </div>
          <div style="flex: 1; padding: 10px">
            <circle-progress
              [percent]="75"
              [radius]="100"
              [space]="-10"
              [maxPercent]="100"
              [outerStrokeGradient]="true"
              [outerStrokeWidth]="16"
              [backgroundStroke]="'transparent'"
              [outerStrokeColor]="'#7664ac'"
              [innerStrokeColor]="'#7664ac'"
              [outerStrokeGradient]="true"
              [showInnerStroke]="false"
              [showSubtitle]="false"
              [showZeroOuterStroke]="false"
              [title]="'Clientes atendidos'"
              [titleColor]="'#b4b4b4'"
              [outerStrokeGradientStopColor]="'#4c26c0'"
              [animateTitle]="false"
              [animationDuration]="1000"
              [animation]="true"
              [showUnits]="false"
              [showBackground]="false"
              [clockwise]="false"
              [lazy]="false"
              [responsive]="true"
            ></circle-progress>
          </div>
          <div style="flex: 1; padding: 10px">
            <circle-progress
              [percent]="90"
              [radius]="100"
              [space]="-10"
              [maxPercent]="100"
              [outerStrokeGradient]="true"
              [outerStrokeWidth]="16"
              [backgroundStroke]="'transparent'"
              [outerStrokeColor]="'#d22b59'"
              [innerStrokeColor]="'#d5577a'"
              [outerStrokeGradient]="true"
              [showInnerStroke]="false"
              [showZeroOuterStroke]="false"
              [title]="'Pedidos entregues'"
              titleColor="#b4b4b4"
              [outerStrokeGradientStopColor]="'#cd8231'"
              [animateTitle]="false"
              [animationDuration]="1000"
              [animation]="true"
              [showSubtitle]="false"
              [showUnits]="false"
              [showBackground]="false"
              [clockwise]="false"
              [lazy]="false"
              [responsive]="true"
            ></circle-progress>
          </div> -->
        </div>
        <div style="display: flex">
          <div
            style="
              width: 30%;
              align-items: center;
              justify-content: center;
              display: flex;
            "
          >
            <span>Total de pedidos entregues</span>
          </div>
          <div style="width: 70%">
            <progress-bar
              [progress]="'90'"
              [color-degraded]="{
                '0': 'rgb(140 187 253)',
                '15': 'rgb(140 187 253)',
                '25': 'rgb(140 187 253)'
              }"
            >
            </progress-bar>
          </div>
        </div>
        <div style="display: flex">
          <div
            style="
              width: 30%;
              align-items: center;
              justify-content: center;
              display: flex;
            "
          >
            <span>Total de pets doados</span>
          </div>
          <div style="width: 70%">
            <progress-bar
              [progress]="'30'"
              [color-degraded]="{
                '0': 'rgb(253 185 140)',
                '15': 'rgb(253 185 140)',
                '25': 'rgb(253 185 140)'
              }"
            >
            </progress-bar>
          </div>
        </div>
        <div style="display: flex; margin-top: 5%">
          <div style="flex: 1; padding: 10px">
            <circle-progress
              [percent]="75"
              [radius]="100"
              [space]="-10"
              [maxPercent]="100"
              [outerStrokeGradient]="true"
              [outerStrokeWidth]="16"
              [backgroundStroke]="'transparent'"
              [outerStrokeColor]="'#4882c2'"
              [innerStrokeColor]="'#e7e8ea'"
              [outerStrokeGradient]="true"
              [titleFontSize]="'15'"
              [showTitle]="true"
              [units]="'%'"
              [showInnerStroke]="false"
              [showSubtitle]="true"
              [showZeroOuterStroke]="false"
              [titleColor]="'#b4b4b4'"
              [subtitle]="'Sucesso na adoção'"
              [outerStrokeGradientStopColor]="'#1eb07e'"
              [animateTitle]="false"
              [animationDuration]="1000"
              [animation]="true"
              [unitsColor]="'rgb(169, 169, 169)'"
              [unitsFontSize]="'14'"
              [subtitleFontSize]="'13'"
              [showUnits]="true"
              [showBackground]="false"
              [clockwise]="false"
              [lazy]="false"
              [responsive]="true"
            ></circle-progress>
          </div>
          <div style="flex: 1; padding: 10px">
            <circle-progress
              [percent]="80"
              [radius]="100"
              [space]="-10"
              [maxPercent]="100"
              [outerStrokeGradient]="true"
              [outerStrokeWidth]="16"
              [backgroundStroke]="'transparent'"
              [outerStrokeColor]="'rgb(253, 140, 142)'"
              [innerStrokeColor]="'#e7e8ea'"
              [outerStrokeGradient]="true"
              [titleFontSize]="'15'"
              [showTitle]="true"
              [units]="'%'"
              [showInnerStroke]="false"
              [showSubtitle]="true"
              [showZeroOuterStroke]="false"
              [titleColor]="'#b4b4b4'"
              [subtitle]="'Aprovação de seviços'"
              [outerStrokeGradientStopColor]="'rgb(253, 185, 140)'"
              [animateTitle]="false"
              [animationDuration]="1000"
              [animation]="true"
              [unitsColor]="'rgb(169, 169, 169)'"
              [unitsFontSize]="'14'"
              [subtitleFontSize]="'13'"
              [showUnits]="true"
              [showBackground]="false"
              [clockwise]="false"
              [lazy]="false"
              [responsive]="true"
            ></circle-progress>
          </div>
          <div style="flex: 1; padding: 10px">
            <circle-progress
              [percent]="75"
              [radius]="100"
              [space]="-10"
              [maxPercent]="100"
              [outerStrokeGradient]="true"
              [outerStrokeWidth]="16"
              [backgroundStroke]="'transparent'"
              [outerStrokeColor]="'rgb(187 130 180)'"
              [innerStrokeColor]="'#e7e8ea'"
              [outerStrokeGradient]="true"
              [titleFontSize]="'15'"
              [showTitle]="true"
              [units]="'%'"
              [showInnerStroke]="false"
              [showSubtitle]="true"
              [showZeroOuterStroke]="false"
              [titleColor]="'#b4b4b4'"
              [subtitle]="'Seviços avaliados'"
              [outerStrokeGradientStopColor]="'rgb(201 169 197)'"
              [animateTitle]="false"
              [animationDuration]="1000"
              [animation]="true"
              [unitsColor]="'rgb(169, 169, 169)'"
              [unitsFontSize]="'14'"
              [subtitleFontSize]="'13'"
              [showUnits]="true"
              [showBackground]="false"
              [clockwise]="false"
              [lazy]="false"
              [responsive]="true"
            ></circle-progress>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'Clients'">
  <div class="content">
    <h2 class="content__video-heading">Clientes</h2>
    <div class="content__video-card-wrapper-money-client">
      <div class="client">
        <div
          class="clientPicture"
        >
          teste
        </div>
        <div
          class="clientDescr"
        >
          teste
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="page == 'Package'"> ESTOQUE </ng-container>

<ng-container *ngIf="page == 'CalendarAdmin'"> AGENDA </ng-container>

<ng-container *ngIf="page == 'mockery'"> DOAÇÕES </ng-container>
