.user {
  background: #353340;
  border-radius: 12px;
  border: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  outline: 0;
  box-shadow: 0 0 2px 2px rgb(76 76 76 / 19%);
  transition: 400ms linear;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  width: 15em;
  height: 2em;

  &:focus{
    transform: scale(1.1);
    transition: 200ms linear;
  }
}

.password {
  margin-top: 15px;
  background: #353340;
  border-radius: 12px;
  border: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: 0;
  box-shadow: 0 0 2px 2px rgb(76 76 76 / 19%);
  transition: 400ms linear;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  width: 15em;
  height: 2em;

  &:focus{
    transform: scale(1.1);
    transition: 200ms linear;
  }
}

.login {
  margin-top: 15px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}





