@keyframes bounce-in {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
  }
  38% {
    transform: translateY(-30px);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(15px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(-8px);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
  89% {
    transform: translateY(-3px);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input {
  background: #353340;
  border-radius: 12px;
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  outline: 0;
  box-shadow: 0 0 2px 2px rgb(76 76 76 / 19%);
  transition: 400ms linear;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  width: 16em;
  height: 2em;
  display: block;
  margin-bottom: 1em;

  &:focus {
    transform: scale(1.1);
    transition: 200ms linear;
  }
}

.button {
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.loginText {
  color: #c3c3c3;
  font-weight: bold;
  text-align: center;
}

.box{
  background-color: #ffffff29;
  border-radius: 20px;
  padding-top: 1.5em;
  padding-bottom: 0.1em;
  box-shadow: 0 3px 5px rgb(28 28 28 / 94%);
  transition: 200ms linear;

  &:hover{
    box-shadow: 0 0 2px 2px #2f2d3d;
  }
}

.boxRegister{
  transform: translateY(500px); /* começa fora da tela */
  animation: bounce-in 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  background-color: #ffffff29;
  border-radius: 20px;
  padding-top: 1.5em;
  padding-bottom: 0.1em;
  box-shadow: 0 3px 5px rgb(28 28 28 / 94%);
  transition: 200ms linear;

  &:hover{
    box-shadow: 0 0 2px 2px #2f2d3d;
  }
}

.accessPage{
  opacity: 0;
  animation: fadeIn 1s forwards;
}


