<ng-container *ngIf="!inLogin">
    <div class="outer-container">
        <div class="container">
            <app-side-bar
                [userType]="userType"
            ></app-side-bar>
            <div class="main-wrapper">
                <div class="topbar">
                    <app-search></app-search>
                    <app-top-bar></app-top-bar>
                </div>
                <app-content style="overflow: scroll;"></app-content> 
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="inLogin">
    <div class="outer-container">
        <div class="container">
            <div class="main-wrapper">
                <div class="topbar">
                    <app-top-bar></app-top-bar>
                </div>
            </div>
        </div>
    </div>
</ng-container>