<ng-container *ngIf="!inLogin">
  <div class="outer-container">
    <div class="container">
      <app-side-bar
        [userType]="userType"
        [userLogged]="userLogged.user"
        (choosePage)="alterPage($event)"
        (checkUserLogged)="sendUserLogged(userLogged)"
        (moveToLoginPageBeforeAccess)="openLoginInterface()"
      ></app-side-bar>
      <div class="main-wrapper">
        <div class="topbar">
          <app-search></app-search>
          <app-top-bar
            (loginEvent)="openLoginInterface()"
            [userLogged]="userLogged.user"
            (logOffUser)="logOffUser()"
            (openUserPage)="alterPage($event)"
          ></app-top-bar>
        </div>
        <app-content
          style="overflow: auto"
          [page]="page"
          [userLogged]="userLogged"
          (choosePage)="alterPage($event)"
        ></app-content>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="inLogin">
  <div class="outer-container">
    <div class="container">
      <div class="main-wrapper-login">
        <div class="login">
          <app-login
            (loginStatus)="acessGaranted($event)"
            (return)="return($event)"
          ></app-login>
        </div>
      </div>
    </div>
  </div>
</ng-container>
