<ng-container *ngIf="inLogin">
  <div class="accessPage">
    <div class="box">
      <h1 class="loginText">LOGIN</h1>
      <input
        #user
        (change)="registerValueToLogin(user.value, 'user')"
        class="input"
        type="text"
        placeholder="Usuário"
      />
      <input
        #password
        (change)="registerValueToLogin(password.value, 'password')"
        class="input"
        type="password"
        placeholder="Senha"
      />
      <button
        (click)="access()"
        class="button"
        mat-raised-button
        color="primary"
      >
        Acessar
      </button>
      <button
        (click)="returnPage('initial')"
        class="button"
        mat-button
        color="danger"
      >
        Voltar
      </button>
    </div>

    <div style="margin-top: 30px">
      <span style="font-weight: bold">Novo por aqui? Faça seu cadastro!</span>
      <button
        style="margin-top: 15px"
        (click)="openRegisterPage()"
        class="button"
        mat-raised-button
        color="warn"
      >
        Cadastrar
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!inLogin">
  <div class="boxRegister" style="padding-left: 0.9em; padding-right: 0.9em">
    <h1 class="loginText">CADASTRAR</h1>
    <input
      #user
      (change)="registerValueToRegister(user.value, 'user')"
      class="input"
      type="text"
      placeholder="Usuário"
    />
    <input
      #password
      (change)="registerValueToRegister(password.value, 'password')"
      class="input"
      type="password"
      placeholder="Senha"
    />
    <input
      #name
      (change)="registerValueToRegister(name.value, 'name')"
      class="input"
      type="text"
      placeholder="Nome"
    />
    <input
      #email
      (change)="registerValueToRegister(email.value, 'email')"
      class="input"
      type="email"
      placeholder="Email"
    />
    <button
      (click)="registerNewUser()"
      class="button"
      mat-raised-button
      color="primary"
    >
      Cadastrar
    </button>
    <button
      (click)="returnPage('login')"
      class="button"
      mat-button
      color="danger"
    >
      Voltar
    </button>
  </div>
</ng-container>
