@import "~css-star-rating/css/star-rating.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  margin: 0;
}

.ng-select.custom .ng-select-container {
  border: none;
  outline: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  background-color: #474756;
  color: rgb(182, 180, 180);
  cursor: pointer;
  margin-top: 5px;
  min-height: 2.2em;
  transition: 200ms linear;
}

.ng-value-container {
  align-items: center;
  justify-content: center;
  padding-left: 13% !important;
  text-align: center;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #474756;
  color: #c0c0c0;
}
